---
import { HEADER_LINKS } from '~/config'
import ThemeToggle from '~/components/theme/ThemeToggle'
import HeaderGradient from '~/components/theme/HeaderGradient.astro'
import SectionDivider from '~/components/base/SectionDivider.astro'
import HeaderLink from '~/components/base/HeaderLink.astro'
import SearchSwitch from '~/components/base/SearchSwitch.astro'
import { Image } from 'astro:assets'
import avatar from '~/assets/avatar.webp'
---

<HeaderGradient />
<header>
  <div class="mx-auto global-layout-width flex items-center px-6 sm:px-8 py-4 lg:px-8">
    <a href="/" class="pointer-events-auto select-none flex-shrink-0" transition:persist>
      <Image src={avatar} width={64} height={64} alt="Kyle McLaren" class="w-8 h-8 rounded-full object-cover" densities={[1, 2]} loading="eager" />
    </a>
    <div class="flex-1 flex justify-center gap-1">
      {
        HEADER_LINKS.map((link) => (
          <HeaderLink href={link.url} background>
            {link.name}
          </HeaderLink>
        ))
      }
    </div>
    <div class="flex gap-2 items-center flex-shrink-0" transition:persist="header-theme-toggle">
      <SearchSwitch />
      <ThemeToggle client:load />
    </div>
  </div>
  <div class="relative global-layout-width mx-auto pointer-events-none">
    <div aria-hidden="true" class="absolute inset-x-0 -top-14 bottom-0 mx-auto global-layout-width">
      <div class="to-(--color-border)/50 absolute bottom-0 left-0 top-0 w-px bg-gradient-to-b from-transparent to-75%"></div>
      <div class="to-(--color-border)/50 absolute bottom-0 right-0 top-0 w-px bg-gradient-to-b from-transparent to-75%"></div>
    </div>
  </div>
</header>

<SectionDivider className="border-t-border dark:border-t-border/50" />
